.input-field{
    width: 100%;
}

.input-field label{
    font-weight: bold;
    color: grey;
    margin: 10px auto;
}

.input-field label,input, select{
    display: block;
}

.input-field input,select{
    padding: 5px 5px;
    width: 95%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgb(153, 151, 151);
    box-sizing: border-box;
    margin: 8px 0;
}

.exp-cvv{
    display: grid;
    grid-template-columns: 125px 75px;
    grid-gap: 20px;
}

.state-zipcode{
    display: grid;
    grid-template-columns: 300px 100px;
}

.confirm-btn{
    width: 95%;
    margin: 20px 0;
}

@media screen and (max-width: 1000px){
    .state-zipcode{
        display: block;
    }
}